body{background-color:#777;}
p{padding:0.5em;}
.post{
	background-color:#FFF;
    font-family:arial, helvetica;
    margin-bottom:1em;
}
.ptitle{
    background-color:#333;
    color:white;
    font-size:1.5em;
    font-family:"Josefin Slab";
    padding:0.15em;
}	
.floatlink{float:right;
    color:#888;
    text-decoration:none;
    font-size:0.75em;
    padding:0.15em;
}
#maincol{
    max-width:960px;
    height:100%;
    margin:0 auto;
    background-color:#606048;
}
@media screen and (orientation: portrait) {.post{font-size:1.5em;}}
@media screen and (orientation: portrait) and (min-resolution: 200dpi) {.post{font-size:2.25em;}}
@media screen and (orientation: landscape) and (min-resolution: 200dpi) {.post{font-size:1.5em;}}